# IDE / Editor configuration
.vscode/
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project

# OS temporary files
.DS_Store
Thumbs.db
desktop.ini

# Package manager / Local setup files
.env*.local

# Other files
help.md
delete.bat